<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kiwi.persistent.ProductMapper">
    <resultMap id="resultProduct" type="org.kiwi.domain.Product">
        <id property="id" column="productId"/>
        <result property="name" column="productName"/>
        <result property="description" column="productDescription"/>

        <association property="currentPrice" javaType="org.kiwi.domain.Price">
            <id property="id" column="priceId"/>
            <result property="price" column="pricePrice"/>
            <result property="modifiedTimestamp" column="priceModifiedTimestamp"/>
            <result property="modifiedBy" column="priceModifiedBy"/>
        </association>
    </resultMap>


    <insert id="createProduct" parameterType="org.kiwi.domain.Product" keyProperty="product.id" useGeneratedKeys="true">
        insert into Products (name, description) values (#{product.name}, #{product.description});
    </insert>

    <select id="all" resultMap="resultProduct">
        select * from Products;
    </select>

    <select id="findProductById" resultMap="resultProduct">
        select Products.id as productId, Products.name as productName, Products.description as productDescription,
        Prices.id as priceId, Prices.price as pricePrice, Prices.modified_timestamp as priceModifiedTimestamp, Prices.modified_by as priceModifiedBy
        from Products left join Prices on Products.id = Prices.product_id
        where Products.id = #{id} and Prices.id = (select max(Prices.id) from Prices where product_id = #{id} group by product_id)
    </select>
</mapper>